<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
if 'Respondent' in df.columns:
    print('Column "Respondent" exists in the DataFrame.')
else:
    print('Column "Respondent" does not exist in the DataFrame.')

Column "Respondent" exists in the DataFrame.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
# Assuming df is your DataFrame and "Respondent" is the column of interest

# Assuming df is your DataFrame
original_rows = df.shape[0]  # Get the original number of rows

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# After removing duplicates, get the new number of rows
new_rows = df.shape[0]

# Get the number of unique rows in the "Respondent" column
unique_respondents = df['Respondent'].nunique()

print(f'Number of rows in the dataset after removing duplicates: {new_rows}')
print(f'Number of unique rows in the "Respondent" column: {unique_respondents}')

Number of rows in the dataset after removing duplicates: 11398
Number of unique rows in the "Respondent" column: 11398

Verify if duplicates were actually dropped.

In [ ]:
# your code goes here

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
# Assuming df is your DataFrame
import pandas as pd

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Number of blank rows under the column "EdLevel"
blank_edlevel_rows = df['EdLevel'].isnull().sum()

# Number of rows missing under the column "Country"
missing_country_rows = df['Country'].isnull().sum()

print(f'Number of blank rows under the column "EdLevel": {blank_edlevel_rows}')
print(f'Number of rows missing under the column "Country": {missing_country_rows}')

Number of blank rows under the column "EdLevel": 112
Number of rows missing under the column "Country": 0

Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
# your code goes here

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [7]:
# your code goes here
# Assuming df is your DataFrame


# Majority category under the column "Employment"
majority_employment_category = df['Employment'].mode().iloc[0]

# Category with the minimum number of rows under the column "UndergradMajor"
min_rows_undergrad_major = df['UndergradMajor'].value_counts().idxmin()

print(f'Majority category under the column "Employment": {majority_employment_category}')
print(f'Category with the minimum number of rows under the column "UndergradMajor": {min_rows_undergrad_major}')

Majority category under the column "Employment": Employed full-time
Category with the minimum number of rows under the column "UndergradMajor": A health science (ex. nursing, pharmacy, radiology)

Identify the value that is most frequent (majority) in the WorkLoc column.

In [2]:
#make a note of the majority value here, for future reference
#

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [ ]:
# your code goes here

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [ ]:
# your code goes here

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [8]:
# your code goes here
# Assuming df is your DataFrame


# Number of unique values in the "CompFreq" column
unique_comp_freq_values = df['CompFreq'].nunique()

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Count of respondents being paid yearly after removing duplicates
yearly_paid_count = df[df['CompFreq'] == 'Yearly'].shape[0]

print(f'Number of unique values in the "CompFreq" column: {unique_comp_freq_values}')
print(f'Number of respondents being paid yearly after removing duplicates: {yearly_paid_count}')

Number of unique values in the "CompFreq" column: 3
Number of respondents being paid yearly after removing duplicates: 6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [9]:
# Define a function to normalize compensation to yearly
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # Handle other cases or missing values

# Create the 'NormalizedAnnualCompensation' column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)
# your code goes here
# Assuming df is your DataFrame


# Calculate the median of the "NormalizedAnnualCompensation" column
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()

print(f'Median NormalizedAnnualCompensation: {median_normalized_compensation}')

Median NormalizedAnnualCompensation: 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).